* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #333333;
  font-family: "Roboto Mono", monospace;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  color: darkorange;
  font-family: "Share Tech Mono", monospace;
  font-size: 26px;
  font-weight: 300;
  text-shadow: 0 0 5px darkorange;
  position: relative;
  overflow: hidden;
  height: 100vh;
  height: -webkit-fill-available;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.25;
  cursor: not-allowed !important;
}

.left-menu {
  position: absolute;
  width: 400px;
  left: -400px;
  top: 80px;
  z-index: 1;
  transition-duration: 1.5s;
  transition-timing-function: ease-in-out;
}

.left-menu-in {
  left: 0;
}
.left-menu-peeking {
  left: -380px;
}

.left-menu img {
  position: absolute;
  width: 100%;
}

.left-menu ul {
  position: absolute;
  margin-left: 140px;
  margin-top: 100px;
  font-size: 32px;
}

.left-menu-button {
  width: 20px;
  height: 545px;
  position: absolute;
  right: 0;
  top: 52px;
  cursor: pointer;
  opacity: 0;
}

.left-menu-item {
  list-style-type: none;
  cursor: pointer;
  margin-bottom: 10px;
  width: fit-content;
}
.left-menu-item:hover:not(.disabled) {
  list-style-type: disclosure-closed;
  filter: brightness(140%);
}

.blue-image-bloom {
  opacity: 0.5;
  filter: drop-shadow(0 0 3rem darkblue);
  -webkit-filter: drop-shadow(0 0 3rem darkblue);
}

.background {
  position: absolute;
  height: 100vh;
  height: -webkit-fill-available;
  width: 100vw;
  background: url(/images/bg.png) black;
  filter: sepia(100%) hue-rotate(220deg) saturate(500%) brightness(60%);
}

.top-hr,
.bot-hr {
  position: fixed;
  width: 100vw;
  margin: 0;
  outline: none;
  border-color: darkblue;
}
.top-hr {
  top: 0;
  box-shadow: 0 20px 80px 20px darkblue;
}
.bot-hr {
  bottom: 0;
  box-shadow: 0 -20px 80px 20px darkblue;
}

@font-face {
  font-family: "Share Tech Mono";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/share-tech-mono.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

span.amp {
  font-family: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif !important;
  font-style: italic;
}

.container {
  left: 0;
  top: 0;
  height: 100vh;
  height: -webkit-fill-available;
  width: 100vw;
}

.container-inner {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.container.is-success {
  -webkit-filter: hue-rotate(180deg) brightness(2.7);
  filter: hue-rotate(180deg) brightness(2.7);
}

.screen-after {
  content: "";
  display: block;
  background: url(/images/bottom.png) no-repeat center;
  filter: sepia(100%) hue-rotate(220deg) saturate(500%) brightness(60%);
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  height: 28px;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  margin-top: 10px;
}

.title::after,
.title::before {
  content: "";
  display: inline-block;
  background: url(/images/top_outer.png);
  filter: sepia(100%) hue-rotate(220deg) saturate(500%) brightness(60%);
  width: 144px;
  height: 20px;
  margin: 0 20px;
}

.container:not(.is-success) .title.is-success {
  color: #22edfc;
}

.sep-outer,
.sep-inner {
  margin: 0 auto;
}

.sep-outer {
  width: 90%;
  position: relative;
  border-top: #000 18px solid;
  border-bottom: #000 18px solid;
  -o-border-image: url(/images/hor_line.png) 17 11 17 round;
  border-image: url(/images/hor_line.png) 17 11 17 round;
  filter: sepia(100%) hue-rotate(220deg) saturate(500%) brightness(60%);
}

.sep-inner {
  width: 100%;
  content: "";
  display: inline-block;
  background: url(/images/box_inner.png) no-repeat center;
  filter: sepia(100%) hue-rotate(220deg) saturate(500%) brightness(60%);
  height: 27px;
}

.content {
  text-align: center;
  margin: auto;
}

.col.col__center,
.col.col__left {
  display: inline-block;
}

.col.col__left {
  width: 130px;
}

.col.col__center {
  width: 350px;
  margin-right: 130px;
}

.label::after {
  content: ":";
  margin-left: -15px;
  display: inline-block;
}

a {
  color: white;
}

.form-input {
  border: 2px solid darkorange;
  margin: 10px 0;
  padding: 10px;
  width: auto;
  max-width: 100%;
  overflow: visible;
  outline: 0;
  background: 0 0;
  color: inherit;
  font: inherit;
  line-height: normal;
}

.form-input::-moz-selection {
  background: #000;
}

.form-input::selection {
  background: #000;
}

.submit {
  border: none;
  margin: 20px;
  padding: 10px 40px;
  width: auto;
  overflow: visible;
  outline: 0;
  cursor: pointer;
  background: 0 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  background: rgba(219, 14, 21, 0.2);
}

.submit:hover {
  filter: brightness(200%);
}

@media only screen and (max-width: 710px) {
  .col.col__left {
    display: none;
  }
  .col.col__center {
    margin: 0;
  }
  .title::after,
  .title::before {
    display: none;
  }
}

.flash {
  -webkit-animation: flashText 1s ease-out alternate infinite;
  animation: flashText 1s ease-out alternate infinite;
}

@-webkit-keyframes flashText {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flashText {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.typewriter .typewriter-line {
  visibility: hidden;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

@keyframes scan {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.99901;
  }
  10% {
    opacity: 0.91397;
  }
  20% {
    opacity: 0.94889;
  }
  30% {
    opacity: 0.99359;
  }
  40% {
    opacity: 0.9159;
  }
  50% {
    opacity: 0.83942;
  }
  60% {
    opacity: 0.89966;
  }
  70% {
    opacity: 0.90026;
  }
  80% {
    opacity: 0.86975;
  }
  90% {
    opacity: 0.99726;
  }
  100% {
    opacity: 0.91838;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.99901;
  }
  10% {
    opacity: 0.91397;
  }
  20% {
    opacity: 0.94889;
  }
  30% {
    opacity: 0.99359;
  }
  40% {
    opacity: 0.9159;
  }
  50% {
    opacity: 0.83942;
  }
  60% {
    opacity: 0.89966;
  }
  70% {
    opacity: 0.90026;
  }
  80% {
    opacity: 0.86975;
  }
  90% {
    opacity: 0.99726;
  }
  100% {
    opacity: 0.91838;
  }
}

@-webkit-keyframes turn-on {
  0% {
    -webkit-transform: scale(1, 0.8) translate3d(0, 0, 0);
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    opacity: 1;
  }
  5% {
    -webkit-transform: scale(1.09139, 1.34235) translate3d(0, 100%, 0);
    transform: scale(1.09139, 1.34235) translate3d(0, 100%, 0);
  }
  10% {
    -webkit-transform: scale(0.63084, 1.40698) translate3d(0, -100%, 0);
    transform: scale(0.63084, 1.40698) translate3d(0, -100%, 0);
  }
  15% {
    -webkit-transform: scale(0.75142, 1.34118) translate3d(0, 100%, 0);
    transform: scale(0.75142, 1.34118) translate3d(0, 100%, 0);
  }
  20% {
    -webkit-transform: scale(0.96173, 1.36858) translate3d(0, -100%, 0);
    transform: scale(0.96173, 1.36858) translate3d(0, -100%, 0);
  }
  25% {
    -webkit-transform: scale(1.1348, 1.02729) translate3d(0, 100%, 0);
    transform: scale(1.1348, 1.02729) translate3d(0, 100%, 0);
  }
  30% {
    -webkit-transform: scale(0.97038, 0.71092) translate3d(0, -100%, 0);
    transform: scale(0.97038, 0.71092) translate3d(0, -100%, 0);
  }
  35% {
    -webkit-transform: scale(0.6067, 1.31101) translate3d(0, 100%, 0);
    transform: scale(0.6067, 1.31101) translate3d(0, 100%, 0);
  }
  40% {
    -webkit-transform: scale(0.786, 0.9326) translate3d(0, -100%, 0);
    transform: scale(0.786, 0.9326) translate3d(0, -100%, 0);
  }
  45% {
    -webkit-transform: scale(1.38602, 1.14399) translate3d(0, 100%, 0);
    transform: scale(1.38602, 1.14399) translate3d(0, 100%, 0);
  }
  50% {
    -webkit-transform: scale(0.69973, 0.90412) translate3d(0, -100%, 0);
    transform: scale(0.69973, 0.90412) translate3d(0, -100%, 0);
  }
  51% {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: brightness(1) saturate(1);
    filter: brightness(1) saturate(1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

@keyframes turn-on {
  0% {
    -webkit-transform: scale(1, 0.8) translate3d(0, 0, 0);
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    opacity: 1;
  }
  5% {
    -webkit-transform: scale(1.09139, 1.34235) translate3d(0, 100%, 0);
    transform: scale(1.09139, 1.34235) translate3d(0, 100%, 0);
  }
  10% {
    -webkit-transform: scale(0.63084, 1.40698) translate3d(0, -100%, 0);
    transform: scale(0.63084, 1.40698) translate3d(0, -100%, 0);
  }
  15% {
    -webkit-transform: scale(0.75142, 1.34118) translate3d(0, 100%, 0);
    transform: scale(0.75142, 1.34118) translate3d(0, 100%, 0);
  }
  20% {
    -webkit-transform: scale(0.96173, 1.36858) translate3d(0, -100%, 0);
    transform: scale(0.96173, 1.36858) translate3d(0, -100%, 0);
  }
  25% {
    -webkit-transform: scale(1.1348, 1.02729) translate3d(0, 100%, 0);
    transform: scale(1.1348, 1.02729) translate3d(0, 100%, 0);
  }
  30% {
    -webkit-transform: scale(0.97038, 0.71092) translate3d(0, -100%, 0);
    transform: scale(0.97038, 0.71092) translate3d(0, -100%, 0);
  }
  35% {
    -webkit-transform: scale(0.6067, 1.31101) translate3d(0, 100%, 0);
    transform: scale(0.6067, 1.31101) translate3d(0, 100%, 0);
  }
  40% {
    -webkit-transform: scale(0.786, 0.9326) translate3d(0, -100%, 0);
    transform: scale(0.786, 0.9326) translate3d(0, -100%, 0);
  }
  45% {
    -webkit-transform: scale(1.38602, 1.14399) translate3d(0, 100%, 0);
    transform: scale(1.38602, 1.14399) translate3d(0, 100%, 0);
  }
  50% {
    -webkit-transform: scale(0.69973, 0.90412) translate3d(0, -100%, 0);
    transform: scale(0.69973, 0.90412) translate3d(0, -100%, 0);
  }
  51% {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: brightness(1) saturate(1);
    filter: brightness(1) saturate(1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

@-webkit-keyframes turn-off {
  0% {
    -webkit-transform: scale(1, 1.3) translate3d(0, 0, 0);
    transform: scale(1, 1.3) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(0, 0.0001) translate3d(0, 0, 0);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
}

@keyframes turn-off {
  0% {
    -webkit-transform: scale(1, 1.3) translate3d(0, 0, 0);
    transform: scale(1, 1.3) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(0, 0.0001) translate3d(0, 0, 0);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
}

@keyframes reset {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(0, 0.0001) translate3d(0, 0, 0);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
  40% {
    -webkit-transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

.flicker {
  animation: flicker 2s ease-in-out infinite;
}

.container.off {
  -webkit-animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.container.reset {
  -webkit-animation: reset 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  animation: reset 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.container.on {
  -webkit-animation: turn-on 2s linear;
  animation: turn-on 2s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 1200px) {
  .blue-image-bloom {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .left-menu {
    width: 100vw;
    left: -100vw;
    top: 0;
    z-index: 1;
  }

  .left-menu-in {
    left: 0;
  }

  .left-menu-peeking {
    left: calc(-100vw + 20px);
  }

  .left-menu ul {
    position: absolute;
    margin-left: 34vw;
    margin-top: 22vw;
    font-size: 8vw;
  }

  .left-menu-button {
    width: 20px;
    height: 545px;
    position: absolute;
    right: 0;
    top: 52px;
    cursor: pointer;
    opacity: 0;
  }
}
